.jumbotron{
    background-color: yellow;
    color: black;
}
.card-hotel{
 flex: 1 150px; 
 padding: 2px 5px 2px 5px;/*top, left,right,bottom*/
 margin-top: 10px;  
}
footer{
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 10px;
}
.btn-reserva{
 width: 100%;

}